.home-title{	
    font-weight: 400;
    font-size: 40px;
    max-width: 378px;
    @media screen and (min-width: 40em){
        margin-top: 140px;
        margin-bottom: 56px;
	}
}
.hero{
    background-position: right;
}

.box{
    .box-title{
        font-weight: 500;
    }
    .box-content{
        line-height: 1.35;
    }
}

.about-grid{
    margin-top: 24px;
    margin-right: 56px;
}

.about-icons{
    float: left;
    max-width: 80px;
    margin-bottom: 40px;
    margin-right: 16px;
}

.stats{
    background-color: $black;
    color: $white;
    padding-top: 20px;
    padding-bottom: 24px;
    .metric{
        p{
            line-height: 1.2;
            margin-bottom: 4px;
        }
    }
}

.card#events-list{
    margin-top: 72px;
    .events-list{
        .box-content{
            margin-bottom: 4px;
        }
    }
}