<footer>
    <div class="row">
        <div class="small-11 large-10 column small-centered">
            <div class="row">
                <div class="small-12 medium-3 medium-push-9 columns social-media">
                    <h5 class="no-margin">Follow us to stay up-to-date</h5>
                    <div>
                        <a class="social" href="https://twitter.com/leaninindia" target="_blank">
                            <img src="{{ url_for('static', filename='images/social/twitter-light@2x.png')}}"
                                srcset="{{ url_for('static', filename='images/social/twitter-light@1x.png')}} 1x,
                                {{ url_for('static', filename='images/social/twitter-light@2x.png')}} 2x" alt="twitter" />
                        </a>
                        <a class="social" href="https://www.facebook.com/leaninforindia" target="_blank">
                            <img src="{{ url_for('static', filename='images/social/fb-light@2x.png')}}"
                                srcset="{{ url_for('static', filename='images/social/fb-light@1x.png')}} 1x,
                                {{ url_for('static', filename='images/social/fb-light@2x.png')}} 2x" alt="facebook" />
                        </a>
                        <a class="social" href="https://www.instagram.com/leaninindia/" target="_blank">
                            <img src="{{ url_for('static', filename='images/social/instagram-light@2x.png')}}"
                                srcset="{{ url_for('static', filename='images/social/instagram-light@1x.png')}} 1x,
                                {{ url_for('static', filename='images/social/instagram-light@2x.png')}} 2x" alt="instagram" />
                        </a>
                        <a class="social" href="https://www.youtube.com/channel/UCox6EF8Juq0dfMdZxB8GzTg/about" target="_blank">
                            <img src="{{ url_for('static', filename='images/social/youtube-light@2x.png')}}"
                                srcset="{{ url_for('static', filename='images/social/youtube-light@1x.png')}} 1x,
                                {{ url_for('static', filename='images/social/youtube-light@2x.png')}} 2x" alt="youtube" />
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-9 medium-pull-3 columns">
                    <div class="row">
                        <div class="inline-block tree">
                            <ul class="no-bullet">
                                <li class="header">About</li>
                                <li class="link-item"><a href="#">Our Team</a></li>
                                <li class="link-item"><a href="#">Lean In India Stories</a></li>
                            </ul>
                        </div>
                        <div class="inline-block tree">
                            <ul class="no-bullet">
                                <li class="header">Circles</li>
                                <li class="link-item"><a href="#">Join a circle</a></li>
                                <li class="link-item"><a href="#">Start a new circle</a></li>
                            </ul>
                        </div>
                        <div class="inline-block tree">
                            <ul class="no-bullet">
                                <li class="header">Events</li>
                                <li class="link-item"><a href="#">Upcoming events</a></li>
                                <li class="link-item"><a href="#">All events</a></li>
                                <li class="link-item"><a href="#">Volunteer</a></li>
                            </ul>
                        </div>
                        <div class="inline-block tree">
                            <ul class="no-bullet">
                                <li class="header">Partners & Sponsors</li>
                                <li class="link-item"><a href="#">Our Partners</a></li>
                                <li class="link-item"><a href="#">How to become our partner?</a></li>
                            </ul>
                        </div>
                        <div class="inline-block tree">
                            <ul class="no-bullet">
                                <li class="header">Get in touch</li>
                                <li class="link-item"><a href="#">Join Us</a></li>
                                <li class="link-item"><a href="#">Be a contributor</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="position: relative;">
                <div class="small-12 large-6 columns">
                    <div class="row wrapper">
                        <div class="small-12 column">
                            <h5 class="no-margin">Subscribe to our newsletter!</h5>
                            <p style="max-width: 320px; ">Receive our emails to get helpful articles, inspiring stories, and more.</p>
                        </div>
                    </div>
                    <div class="row wrapper">
                        <div class="small-6 columns">
                            <input placeholder="Email Id" type="email">
                        </div>
                        <div class="small-6 columns">
                            <a class="button">Subscribe</a>
                        </div>
                    </div>
                </div>
                <div class="small-12 large-6 columns">
                    <div class="licence">
                        © 2018 LeanInIndia.Org  •  Terms of Service  •  Privacy Policy
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>