<section class="section row">
		<div class="small-11 medium-10 small-centered text-center column">
			<div class="row">
				<div class="small-12 medium-12 large-10 column medium-centered text-center">
					<h1>Partners and Sponsors</h1>
				</div>
			</div>
			<div class="row">
				<div class="small-11 small-centered column">
					<div class="sponsor-grid">
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/linkedin-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/linkedin-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/linkedin-2x.png')}} 2x" alt="linkedin" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/cisco-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/cisco-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/cisco-2x.png')}} 2x" alt="cisco" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/rbs-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/rbs-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/rbs-2x.png')}} 2x" alt="rbs" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/nestle-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/nestle-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/nestle-2x.png')}} 2x" alt="nestle" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/tcs-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/tcs-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/tcs-2x.png')}} 2x" alt="tcs" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/jobsforher-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/jobsforher-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/jobsforher-2x.png')}} 2x" alt="jobsforher" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/womenite-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/womenite-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/womenite-2x.png')}} 2x" alt="womenite" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/indianwomenblog-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/indianwomenblog-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/indianwomenblog-2x.png')}} 2x" alt="indianwomenblog" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/spjimr-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/spjimr-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/spjimr-2x.png')}} 2x" alt="spjimr" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/thetestament-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/thetestament-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/thetestament-2x.png')}} 2x" alt="thetestament" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/hgs-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/hgs-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/hgs-2x.png')}} 2x" alt="hgs" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/cogmat-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/cogmat-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/cogmat-2x.png')}} 2x" alt="cogmat" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/cd-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/cd-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/cd-2x.png')}} 2x" alt="cd" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/leantrack-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/leantrack-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/leantrack-2x.png')}} 2x" alt="leantrack" />
                        <img class="sponsor" src="{{ url_for('static', filename='images/sponsors/blisstro-2x.png')}}"
                        srcset="{{ url_for('static', filename='images/sponsors/blisstro-src.png')}} 1x,
                        {{ url_for('static', filename='images/sponsors/blisstro-2x.png')}} 2x" alt="blisstro" />
                    </div>
				</div>
			</div>
		</div>
	</section>