<!-- NAVIGATION -->
<header show-if-auth>
    <nav class="top-bar clearfix" id="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li>
                <a ui-sref="activity">
                    <img class="brand-image" src="/static/images/lii-logo.png" alt="Lean In India" width="60">
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="menu">
            </ul>
            <ul class="menu top-bar-right" hide-if-auth>
                <li><a href="/about">Our Team</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/campaigns">Campaigns</a></li>
            </ul>
            <!-- <div show-if-auth>
                <toggle-dropdown template-url="commons/user-group-dropdown.html"></toggle-dropdown>
                <toggle-dropdown template-url="commons/user-group-dropdown.html"></toggle-dropdown>
            </div> -->
        </section>
    </nav>
</header>