<!-- NAVIGATION -->
<header show-if-auth>
    <nav class="top-bar clearfix" id="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li>
                <a href="/">
                    <img class="brand-image" src="/static/images/lii-logo.png" alt="Lean In India" width="60">
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="menu">
            </ul>
            <ul class="menu top-bar-right" hide-if-auth>
                <li><a href="/about" {% if request.path == "/about" %} class="active" {% endif %}>Our Team</a></li>
                <li><a href="/events" {% if request.path == "/events" %} class="active" {% endif %}>Events</a></li>
                <li><a href="/campaigns" {% if request.path == "/campaigns" %} class="active" {% endif %}>Campaigns</a></li>
            </ul>
        </section>
    </nav>
</header>