<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lean In - India Chapter</title>
	<!-- favicons -->
	<!-- <link rel="icon" href="/static/images/favicon/favicon.png" sizes="16x16">
	<link rel="icon" href="/static/img/favicon/favicon32.png" sizes="32x32">
	<link rel="icon" href="/static/img/favicon/favicon48.png" sizes="48x48">
	<link rel="icon" href="/static/img/favicon/favicon64.png" sizes="64x64">
	<link rel="icon" href="/static/img/favicon/favicon128.png" sizes="128x128"> -->
	<!-- <link rel="icon" href="/static/images/favicon/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/static/images/favicon/favicon.ico" type="image/x-icon" /> -->
	<!-- End favicond -->

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600,200,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/stylesheet.css">
</head>

<body>
	{% include "partials/topbar.html"  %}
	<section>
	</section>
	{#  {% include "partials/footer.html"  %} #}
	
	<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('bower.static', filename='foundation-sites/dist/foundation.js') }}"></script>
	<!-- <script src="{{ url_for('bower.static', filename='angular/angular.min.js') }}"></script> -->
	<script src="{{ url_for('bower.static', filename='lodash/lodash.min.js') }}"></script>
	<!-- <script src="{{ url_for('bower.static', filename='ngSticky/dist/sticky.min.js') }}"></script> -->
	<script src="/static/js/app.js"></script>
</body>

</html>